.rc-update-notification:before {
    content: '\e614';
    -webkit-font-smoothing: antialiased;
    font-family: Admin Icons;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    speak: none;
    color: #007bdb;
    font-size: 1.9rem;
    top: 1.3rem;
    position: absolute;
    left: 1rem;
}
.config-nav-block.redchamps-tab strong:before {
    background: url(../images/logo.png) no-repeat;
    width: 16px;
    height: 24px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}