<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="productvideos_listing_data_source" xsi:type="string">FME\Productvideos\Model\ResourceModel\Productvideos\Grid\Collection</item>
            </argument>
        </arguments>
    </type>   
    <virtualType name="ProductvideosGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="FME\Productvideos\Model\ResourceModel\Productvideos\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">productvideos</argument>
            <argument name="eventPrefix" xsi:type="string">productvideos_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productvideos_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">FME\Productvideos\Model\ResourceModel\Productvideos</argument>
        </arguments>
    </type>

    <type name="FME\Productvideos\Controller\Adminhtml\Productvideos\Image\Upload">
    <arguments>
        <argument name="imageUploader" xsi:type="object">ProductvideosImageUpload</argument>
    </arguments>
    </type>
    <virtualType name="ProductvideosImageUpload" type="FME\Productvideos\Model\ImageUploader">
    <arguments>
        <argument name="baseTmpPath" xsi:type="string">productvideos/files</argument>
        <argument name="basePath" xsi:type="string">productvideos/files</argument>
        <argument name="allowedExtensions" xsi:type="array">
           
        </argument>
      
    </arguments>
</virtualType>
<type name="FME\Productvideos\Ui\Component\DataProvider">
        <arguments>
            <argument name="additionalFilterPool" xsi:type="array">
                <item name="fulltext" xsi:type="object">FME\Productvideos\Ui\Component\Page\FulltextFilter</item>
            </argument>
        </arguments>
    </type>
</config>
