<?xml version="1.0"?>
<!--
/*////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\  FME Productvideos Module  \\\\\\\\\\\\\\\\\\\\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\ NOTICE OF LICENSE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                                                                   ///////
 \\\\\\\ This source file is subject to the Open Software License (OSL 3.0)\\\\\\\
 ///////   that is bundled with this package in the file LICENSE.txt.      ///////
 \\\\\\\   It is also available through the world-wide-web at this URL:    \\\\\\\
 ///////          http://opensource.org/licenses/osl-3.0.php               ///////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                      * @category   FME                            ///////
 \\\\\\\                      * @package    FME_Productvideos              \\\\\\\
 ///////    * @author    FME Extensions <support@fmeextensions.com>   ///////
 \\\\\\\                                                                   \\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\* @copyright  Copyright 2015 © fmeextensions.com All right reserved\\\
 /////////////////////////////////////////////////////////////////////////////////
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="fmeextensions" translate="label" sortOrder="2001">
            <label>FME Extesnions</label>
        </tab>
      <section id="productvideos" translate="label" sortOrder="124" showInDefault="1" showInWebsite="1" showInStore="1">
         <label>Product Videos</label>
         <tab>fmeextensions</tab>
         <resource>FME_Productvideos::fmeextensions_productvideos_config</resource>
        <group id="general" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
         <label>General Settings</label>
            <field id="enable_module" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable/Disable Product Videos</label>
                <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
            </field> 
             <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <!--
            <field id="bg_color" translate="label" type="text" sortOrder="106" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Thumb Background Color if Keep Aspect Ratio (YES) ?</label>
                    <frontend_model>FME\Productvideos\Block\Color</frontend_model>
            </field>
            <field id="frame_thumb" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Keep Frame of Thumb ?</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
             </field>
             <field id="aspect_ration" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Keep Aspect Ratio of Thumb ?</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
             </field>
            <field id="thumb_width" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Width</label>
            </field>
            <field id="thumb_height" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Height</label>
            </field>
            -->
        </group>

        <group id="compactview" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Theme </label>
            <field id="view" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Theme</label>
                <source_model>FME\Productvideos\Model\Config\View\Theme</source_model>
            
            </field>
            
        </group>


        <group id="thumbsetting" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            
            
            <label>Thumbs Setting (Compact And Grid )</label>


            <field id="thumb_width" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Width</label>
            </field>
            <field id="thumb_height" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Height</label>
            </field>
            <field id="thumb_border_effect" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Border Effect</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="thumb_border_width" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Border Width</label>
                 <depends>
                        <field id="thumb_border_effect">1</field>
                    </depends>
            </field>
            <field id="thumb_border_color" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Border Color</label>
                <frontend_model>FME\Productvideos\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
                <depends>
                        <field id="thumb_border_effect">1</field>
                    </depends>
            </field>
            <field id="thumb_over_border_width" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Over Border Width</label>
                <depends>
                        <field id="thumb_border_effect">1</field>
                    </depends>
            </field>
            <field id="thumb_over_border_color" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Over Border Color</label>
                <frontend_model>FME\Productvideos\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
                <depends>
                        <field id="thumb_border_effect">1</field>
                    </depends>
            </field>
            <field id="thumb_selected_border_width" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Selected Border Width</label>
                <depends>
                        <field id="thumb_border_effect">1</field>
                    </depends>
            </field>
            <field id="thumb_selected_border_color" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Selected Border Color</label>
                <frontend_model>FME\Productvideos\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
                <depends>
                        <field id="thumb_border_effect">1</field>
                    </depends>
            </field>


            <field id="thumb_round_corners_radius" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Round Corners Radius</label>
            </field>


            <field id="thumb_color_overlay_effect" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Color Overlay Effect</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="thumb_overlay_color" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Overlay Color</label>
                <frontend_model>FME\Productvideos\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
                <depends>
                        <field id="thumb_color_overlay_effect">1</field>
                    </depends>
            </field>
            <field id="thumb_overlay_opacity" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Overlay Opacity</label>
                <source_model>FME\Productvideos\Model\Config\Thumb\Opacity</source_model>
                <depends>
                        <field id="thumb_color_overlay_effect">1</field>
                    </depends>
            </field>
            <field id="thumb_overlay_reverse" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Overlay Reverse</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="thumb_image_overlay_effect" translate="label" type="select" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Image Overlay Effect</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="thumb_image_overlay_type" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Image Overlay Type</label>
                <source_model>FME\Productvideos\Model\Config\Thumb\Overlaytype</source_model>
                <depends>
                        <field id="thumb_image_overlay_effect">1</field>
                    </depends>
            </field>
            <field id="thumb_transition_duration" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Transition Duration</label>
            </field>
            <!-->
            <field id="thumb_show_loader" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Show Loader</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="thumb_loader_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thumb Loader Type</label>
                <source_model>FME\Productvideos\Model\Config\Thumb\Ltype</source_model>
            </field>
            -->
        </group>
        <group id="stripepaneloptions" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Strip Thumbs Panel Options</label>
            <field id="strippanel_padding_top" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Padding Top</label>
            </field>
            <field id="strippanel_padding_bottom" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Padding Bottom</label>
            </field>
            <field id="strippanel_padding_left" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Padding Left</label>
            </field>
            <field id="strippanel_padding_right" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Padding Right</label>
            </field>
            <!--
            <field id="strippanel_enable_buttons" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Enable Buttons</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="strippanel_padding_buttons" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Padding Buttons</label>
            </field>
            -->
            <!--
            <field id="strippanel_buttons_role" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Button Role</label>
                <source_model>FME\Productvideos\Model\Config\Strip\Role</source_model>
            </field>


            <field id="strippanel_enable_handle" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Enable handle</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="strippanel_handle_align" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Handle Align</label>
                <source_model>FME\Productvideos\Model\Config\Strip\Align</source_model>
            </field>
            <field id="strippanel_handle_offset" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Handle Offset</label>
            </field>
            -->
            <field id="strippanel_background_color" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Panel Background Color</label>
                <frontend_model>FME\Productvideos\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
            </field>

            <field id="strip_thumbs_align" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Thumbs Align</label>
                <source_model>FME\Productvideos\Model\Config\Strip\Align</source_model>
                <comment>top,bottom and Center For LEFT and Right While left,right,middle for TOP and Bottom</comment>
            </field>
            <field id="strip_space_between_thumbs" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Space Between thumbs</label>
            </field>
            <!--<field id="strip_thumb_touch_sensetivity" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Thumbs Touch Sensetivity</label>
            </field>
            -->
            <field id="strip_scroll_to_thumb_duration" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Scroll to Thumb Duration</label>
            </field>
            <field id="slider_enable_play_button" translate="label" type="select" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Enable Play button</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <!-->
            <field id="strip_control_avia" translate="label" type="select" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Control Avia</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="strip_control_touch" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Strip Control Touch</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            -->
            

        </group>
        <group id="gridpaneloptions" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Grid Panel Options</label>
            <field id="gridpanel_vertical_scroll" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Grid Panel Vertical Scroll</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="gridpanel_grid_align" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Grid panel Grid Align</label>
                <source_model>FME\Productvideos\Model\Config\Strip\Align</source_model>
                <comment>top,bottom and Center For LEFT and Right While left,right,middle for TOP and Bottom</comment>
            </field>

            <!--
            <field id="gridpanel_padding_border_top" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Padding BOrder Top</label>
            </field>
            <field id="gridpanel_padding_border_bottom" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Padding BOrder Bottom</label>
            </field>
            <field id="gridpanel_padding_border_left" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Padding BOrder Left</label>
            </field>
            <field id="gridpanel_padding_border_right" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Padding BOrder Right</label>
            </field>

            <field id="gridpanel_arrows_align_vert" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Arrow Align Vertically</label>
                <source_model>FME\Productvideos\Model\Config\Grid\Gridalign</source_model>
            </field>
            <field id="gridpanel_arrows_padding_vert" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Arrows Padding Vertically</label>
            </field>
            <field id="gridpanel_arrows_align_hor" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Arrow Align Horizonatally</label>
                <source_model>FME\Productvideos\Model\Config\Grid\Gridalign1</source_model>
            </field>
            <field id="gridpanel_arrows_padding_hor" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Arrow Padding Horizonatally</label>
            </field>

            <field id="gridpanel_space_between_arrows" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Space Between Arrows</label>
            </field>
            <field id="gridpanel_arrows_always_on" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Arrows Always On</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>

            <field id="gridpanel_enable_handle" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Enable Handle</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="gridpanel_handle_align" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Handle Align</label>
                <source_model>FME\Productvideos\Model\Config\Strip\Align</source_model>
            </field>
            <field id="gridpanel_handle_offset" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Handle Offset</label>
            </field>
            -->
            <field id="gridpanel_background_color" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GridPanel Background Color</label>
                <frontend_model>FME\Productvideos\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
            </field>
<!-->
            <field id="grid_panes_direction" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Grid Panes Direction</label>
                <source_model>FME\Productvideos\Model\Config\Grid\Gridpanes</source_model>
            </field>
            -->
            <field id="grid_num_cols" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Grid Num Columns</label>
                 <comment> For Left and Right Gird </comment>
            
            </field>
            <field id="grid_space_between_cols" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Grid Space Between Columns</label>
            </field>
            <field id="grid_space_between_rows" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Grid Space Between Rows</label>
            </field>
            <field id="grid_transition_duration" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Grid Transition Duration</label>
            </field>
             <field id="grid_carousel" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Grid Carousel</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="slider_enable_play_button" translate="label" type="select" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Enable Play button</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>



        </group>
        <group id="slideoptions" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Slider Options</label>
            <field id="slider_transition" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Transition</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Effects</source_model>
            </field>
            <field id="slider_transition_speed" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Transition Speed</label>
            </field>
            <field id="slider_control_swipe" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Control Swipe</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <!-->
            <field id="slider_control_zoom" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Control Zoom</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="slider_loader_type" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Control Zoom</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Stype</source_model>
            </field>
           
            <field id="slider_loader_color" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Loader Color</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Lcolor</source_model> 
            </field>
            _-->

            <field id="slider_enable_bullets1" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Enable Bullets</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="slider_bullets_align_hor" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Bullets Align Horizontal</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Halign</source_model>
            </field>
            <field id="slider_bullets_align_vert" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Bullets Align Vertical</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Valign</source_model>
            </field>
             <field id="slider_enable_arrows" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Enable Arrows</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
             <field id="slider_enable_progress_indicator" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Enable Progress Indicator</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            
            <field id="slider_progress_indicator_type" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Progress Indicator Type</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Progresstype</source_model>
            </field>
             <field id="slider_progress_indicator_align_vert" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Progress Indicator Align Vertical</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Valign</source_model>
            </field>
            <field id="slider_progressbar_color" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Progress Bar Color</label>
                <frontend_model>FME\Productvideos\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
            </field>
            <field id="slider_progressbar_opacity" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Progress Bar Opacity</label>
                <source_model>FME\Productvideos\Model\Config\Thumb\Opacity</source_model>
            </field>
            <field id="slider_progressbar_line_width" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Progress Bar Line Width</label>
            </field>
            <field id="slider_progresspie_type_fill" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Progress Pie Type Fill</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="slider_progresspie_color1" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Progress Pie Color 1</label>
                <frontend_model>FME\Productvideos\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
            </field>
            <field id="slider_progresspie_color2" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Progress Pie Color 2</label>
                <frontend_model>FME\Productvideos\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
            </field>
            <field id="slider_progresspie_stroke_width" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Progress Pie Stroke Width</label>
                 <depends>
                        <field id="slider_progresspie_type_fill">0</field>
                    </depends>
            </field>
            <field id="slider_progresspie_width" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Progress Pie  Width</label>
            </field>
            <field id="slider_progresspie_height" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Progress Pie Height</label>
            </field>
            <field id="slider_enable_play_button" translate="label" type="select" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Enable Play button</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="slider_play_button_align_hor" translate="label" type="select" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Play button Align Horizontal</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Halign</source_model>
            </field>
            <field id="slider_play_button_align_vert" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Play button Align Vertical</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Valign</source_model>
            </field>
            <field id="slider_enable_fullscreen_button" translate="label" type="select" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Enable FullScreen button</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="slider_fullscreen_button_align_hor" translate="label" type="select" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FullScreen button Align Horizontal</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Halign</source_model>
            </field>
            <field id="slider_fullscreen_button_align_vert" translate="label" type="select" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FullScreen button Align Vertical</label>
                <source_model>FME\Productvideos\Model\Config\Slide\Valign</source_model>
            </field>

            <field id="slider_controls_always_on" translate="label" type="select" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Controls Always On</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <!-->
            <field id="slider_controls_appear_ontap" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Controls Appear Ontap</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            -->
            <field id="slider_controls_appear_duration" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Controls Appear Duration</label>
            </field>
            <field id="slider_enable_text_panel" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider Enable Text panel</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="slider_textpanel_bg_color" translate="label" type="text" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider TextPanel Background Color</label>
                <frontend_model>FME\Productvideos\Block\Color</frontend_model> <!-- Our block for attaching color picker to text box -->
            </field>
            <field id="slider_textpanel_bg_opacity" translate="label" type="select" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Slider TextPanel Background Opacity</label>
                <source_model>FME\Productvideos\Model\Config\Thumb\Opacity</source_model>
            </field>

        </group>

   </section>
</system>
</config>