<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Xtento\TrackingImport\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Xtento\TrackingImport\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">xtentoLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Xtento\TrackingImport\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="xtentoTrackingImportImportCommand" xsi:type="object">Xtento\TrackingImport\Console\Command\ImportCommand</item>
                <item name="xtentoTrackingImportConfigExportCommand" xsi:type="object">Xtento\TrackingImport\Console\Command\ConfigExportCommand</item>
                <item name="xtentoTrackingImportConfigImportCommand" xsi:type="object">Xtento\TrackingImport\Console\Command\ConfigImportCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Xtento\TrackingImport\Console\Command\ConfigExportCommand">
        <arguments>
            <argument name="toolsHelper" xsi:type="object">\Xtento\TrackingImport\Helper\Tools\Proxy</argument>
        </arguments>
    </type>
    <type name="Xtento\TrackingImport\Console\Command\ConfigImportCommand">
        <arguments>
            <argument name="toolsHelper" xsi:type="object">\Xtento\TrackingImport\Helper\Tools\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="excludeFilesFromMinification" type="Xtento\TrackingImport\Plugin\ExcludeFilesFromMinification"/>
    </type>
</config>
<!--
/**
 * Product:       Xtento_TrackingImport
 * ID:            Ug2OpEISigut7u+7UERQ8S+N2PiXfSnW/KizAvVUI6w=
 * Last Modified: 2019-08-28T12:50:20+00:00
 * File:          app/code/Xtento/TrackingImport/etc/di.xml
 * Copyright:     Copyright (c) XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->