<?xml version="1.0"?>
<!--
  ~ /**
  ~  * @author    Tigren Solutions <info@tigren.com>
  ~  * @copyright Copyright (c) 2020 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~  * @license   Open Software License ("OSL") v. 1.0.0
  ~  */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	    <tigren_callback>
            <admin_notify>
                <sender>general</sender>
                <template>tigren_callback_admin_notify_template</template>
            </admin_notify>
	    </tigren_callback>
	</default>
</config>
