<?xml version="1.0"?>
<!--
  ~ /**
  ~  * @author    Tigren Solutions <info@tigren.com>
  ~  * @copyright Copyright (c) 2020 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~  * @license   Open Software License ("OSL") v. 1.0.0
  ~  */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
	        <add id="Tigren_ProductThumbnail::productthumbnail" title="Product Thumbnail" module="Tigren_ProductThumbnail" sortOrder="40" resource="Tigren_ProductThumbnail::productthumbnail"/>
            <add id="Tigren_ProductThumbnail::productthumbnail_thumbnail" title="Thumbnail" module="Tigren_ProductThumbnail" sortOrder="10" parent="Tigren_ProductThumbnail::productthumbnail" action="productthumbnail/thumbnail" resource="Tigren_ProductThumbnail::productthumbnail_thumbnail"/>
    </menu>
</config>
